$width-container: 1400px;
$width-aside: 230px;

$width-sku: 200px;
$height-sku: 300px;

$color-primary: rgb(50, 50, 50);

$color-background: white;
$color-transparent: rgba(253, 244, 232, 0.6);
$color-active: rgb(242, 238, 223);
$color-active-half: rgba(242, 238, 223, 0.5);

$color-gray: rgb(220, 215, 213);
$color-darkgray: rgb(140, 135, 133);

$color-accent: rgb(244, 233, 229);
$color-select: rgb(224, 208, 202);
$color-select-line: rgb(209, 186, 172);

$color-blackout: rgba(0, 0, 0, 0.6);

$text-shadow: 0px 0px 1px $color-darkgray;
